@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet');

:root {
    --font: 'Fira Sans', sans-serif;
    --background: #262626;
    --selection: #262626;
    --defColor: rgb(176, 255, 111);
}

body {
    background-color: var(--background);
    color: var(--defColor);
}

footer {
    text-align: center;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;

    color: var(--defColor);
}

footer div a {
    text-decoration: none;

    color: var(--defColor);
}

#userPhoto {
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;

    border: solid var(--defColor) 4px;
}

#userName, h1 {
    width: 100%;
    font-family: var(--font);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;

    color: var(--defColor);
}

.descriptionName {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.00;
    display: block;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    background-color: var(--background);
    display: block;
    font-family: var(--font);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 22px;
    padding: 17px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .30s cubic-bezier(.08, .59, .29, .99);

    border-radius: 10px;
    color: var(--defColor);
    border: solid var(--defColor) 1px;
}

.description {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 400;
}

.link:hover {
    background-color: var(--defColor);
    color: #1a1a1a;
    border-radius: 45px;
    border: solid var(--defColor) 1px;
}

.lineSplit {
    margin: 30px 0 30px 0;
}

.lineSplit hr {
    display: block;
    width: 300px;
    border: 0;
    border-top: 1px solid var(--defColor);
}

.link:hover img {
    filter: invert(13%) sepia(1%) saturate(1134%) hue-rotate(34deg) brightness(98%) contrast(93%);
}

.tutor01 {
    font-size: 15px;
}

@media screen and (max-width: 600px) {

    .mobile-hide {
        display: none !important;
    }

}

.cont001 {
    font-family: var(--font);
    max-width: 60%;
    margin: 25px 0 15px;
}

.row {
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {

    .cont001 {
        max-width: 80%;
    }

}

.textmiddleh2 {
    width: 360;
    text-align: center;
    border-bottom: 1px solid var(--defColor);
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.textmiddleh2 span {
    background: var(--background);
    padding: 0 10px;
}

.row .link {
    margin: 12px;
    padding: 0;
}

.smallLink {
    max-width: 250px;
    padding: 5px !important;
}

.cont001 {
    font-family: var(--font);
    max-width: 60%;
    margin: 25px 0 25px;
}

@media screen and (max-width: 600px) {

    .cont001 {
        max-width: 80%;
    }

}

.textmiddleh2 {
    width: 360;
    text-align: center;
    border-bottom: 1px solid var(--defColor);
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.textmiddleh2 span {
    background: var(--background);
    padding: 0 10px;
}